.main-row {
  margin-top: 5rem;
}

.nav-color {
  background-color: #863232;
}

.icon {
  width: 30px;
  float: left;
  margin-right: 3px;
}

.card {
  border: none;
  border-radius: 0px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  height: 350px;
  width: 250px;
}

.card-img-top {
  border: none;
  border-radius: 0px;
  height: 350px;
  transition: all 1s ease;
  width: 250px;
}

.card:hover .card-img-top {
  filter: blur(5px);
  transition: all 1s ease;
}

.f-title {
  color: white;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}

.card:hover .f-title {
  opacity: 1;
  transition: all 1s ease;
}

.owl-prev,
.owl-next {
  visibility: hidden;
}

.glass {
  background: rgba(134, 50, 50, 0.5);
  border-radius: 3px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.ns-container {
  display: flex;
  float: left;
}

.ns-info {
  margin-left: 10px;
}

.ns-image {
  border-radius: 3px;
  width: 100px;
  height: 150px;
}

.rated-system-g {
  color: white;
  background-color: #008000;
  border: 3px solid #008000;
  border-radius: 3px;
}

.rated-system-pg {
  color: white;
  background-color: #daa520;
  border: 3px solid #daa520;
  border-radius: 3px;
}

.rated-system-pg-13 {
  color: white;
  background-color: #0000ff;
  border: 3px solid #0000ff;
  border-radius: 3px;
}

.rated-system-r {
  color: white;
  background-color: #ff0000;
  border: 3px solid #ff0000;
  border-radius: 3px;
}

.rated-system-nc-17 {
  color: white;
  background-color: #000000;
  border: 3px solid #000000;
  border-radius: 3px;
}

.ns-container-two {
  display: flex;
  float: right;
}

.ns-info-two {
  margin-right: 5px;
}

.ns-buy-ticket {
  bottom: 0;
  margin-right: 10px !important;
  position: absolute;
  right: 0;
}

.ns-more-details {
  bottom: 0;
  margin-right: 10px !important;
  position: absolute;
  left: 1;
}

.modal-body {
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #262626;
}

.modal-footer {
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #863232;
}
